<% draggable_icon = "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAVlpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KTMInWQAAASZJREFUOBGlk8uNQjEMRR8fDZRCD2wyRUwZ0wI7GqAOxIY9ohTYMAXMLAYEPO55+IL5SCy40iF+thMnTqiqR7WSaywbrByz72bMCRNF6gDbyjlVx94Y+WZSEV+iL/5EW6zFSjhH5lWsmhf7iNBMIyD7sMltdtINg6oHYe3DIG7Zx7dzW2yNyagIquBzNao0le5iRd+oJhnRpJHYiaP4F2gbYOMjRg65TWPZItf0LX4E5/WxmDwUaCp6gt1ylIH4FL/egez3xHYWT5agMtyL3Pw2mnjRr5vI/aN5gI3PDS44kM/L2ZY4QjQK+Yaw3WDGJQ7pco1cVX5Ivn8a5vu3j4l+SLkA/ssiRTbn3ATYRaBc6OxJv340uGgSFSA3LOco9Kic8PLvfALU/z3N7Np55QAAAABJRU5ErkJggg==" %>

<% query_options = nil unless defined?(query_options) %>
<% query_options ||= {} %>

<%= form_tag({}, :data => {:cm_url => issues_context_menu_path}) do -%>
<%= hidden_field_tag 'back_url', url_for(:params => request.query_parameters), :id => nil %>
<div class="autoscroll">
<table id="ui_dynamic_shortable" class="list issues odd-even">
  <thead>
    <tr>
      <th></th>
      <th class="checkbox hide-when-print">
        <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
              :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
      </th>
      <% query.inline_columns.each do |column| %>
        <%= column_header(column) %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% grouped_issue_list(issues, query, @issue_count_by_group) do |issue, level, group_name, group_count, group_totals| -%>
  <% if group_name %>
    <% reset_cycle %>
    <tr class="group open">
      <td colspan="<%= query.inline_columns.size + 1 %>">
        <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
        <span class="name"><%= group_name %></span> <span class="count"><%= group_count %></span> <span class="totals"><%= group_totals %></span>
        <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                             "toggleAllRowGroups(this)", :class => 'toggle-all') %>
      </td>
    </tr>
  <% end %>

  <tr id="issue-<%= issue.id %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
    <td class="draggable-item">
      <img src="<%= draggable_icon %>">
    </td>
    <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", issue.id, false, :id => nil) %></td>
    <%= raw query.inline_columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, issue)}</td>"}.join %>
  </tr>
  <% query.block_columns.each do |column|
       if (text = column_content(column, issue)) && text.present? -%>
  <tr class="<%= current_cycle %>">
    <td colspan="<%= query.inline_columns.size + 1 %>" class="<%= column.css_classes %>">
      <% if query.block_columns.count > 1 %>
        <span><%= column.caption %></span>
      <% end %>
      <%= text %>
    </td>
  </tr>
  <% end -%>
  <% end -%>
  <% end -%>
  </tbody>
</table>
</div>
<% end -%>

<%= javascript_include_tag 'draggable', plugin: :draggable_issues %>


